@import url(./component/styles/Header.css);
@import url(./component/styles/Home.css);
@import url(App.css);
@import url(./component/styles/Shop.css);
@import url(./component/styles/Cart.css);
@font-face {
  font-family: 'work-sans';
  src: url(./component/assets/workSans/WorkSans-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'work-sans', 'sans-serif', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  background-color: #e3dff2;
}

.App {
  display: grid;
  grid-template-rows: 1fr 9fr;
}

h1 {
  margin: 0;
}

button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
